@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>Quên mật khẩu</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post">

    <div class="mb-3">
        <label>Email</label>
        <input name="email" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Số điện thoại</label>
        <input name="phone" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Mật khẩu mới</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>

    <button class="btn btn-primary">
        Đổi mật khẩu
    </button>

</form>