@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Shopbannoithat.Models.Role>

<h2>Quản lý quyền</h2>

<a asp-action="Create" class="btn btn-primary">Thêm quyền</a>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Tên quyền</th>
        <th></th>
    </tr>

    @foreach (var r in Model)
    {
        <tr>
            <td>@r.Id</td>
            <td>@r.Name</td>

            <td>
                <a asp-action="Edit" asp-route-id="@r.Id" class="btn btn-warning">Sửa</a>
                <a asp-action="Delete"
                   asp-route-id="@r.Id"
                   class="btn btn-danger">
                    Xóa
                </a>
            </td>
        </tr>
    }

</table>