@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Shopbannoithat.Models.Product

<h2>Thêm sản phẩm</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label">Tên</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Giá</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Số lượng</label>
        <input asp-for="Quantity" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Ảnh sản phẩm</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Mô tả</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Loại sản phẩm</label>

        <select asp-for="CategoryId" class="form-control">
            <option value="">-- Chọn loại --</option>

            @foreach (var c in ViewBag.Categories)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </select>

    </div>

    <button type="submit" class="btn btn-success">
        Lưu
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Quay lại
    </a>

</form>